*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
}

.Header{
min-height: 100vh;
width: 100%;
background: #000;
color:#fff;
position:relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo{
    text-decoration:none;
    color: blue;
    font-size: 45px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
    
}
.nav-links{
    text-align: right;
    background: red;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px ;
}
.nav-links ul li a:hover{
color: blue;
}
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background:red;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}
.left-col{
    flex-basis: 40%;
    filter: grayscale(1);
    transition: filter 1s;
}
.left-col:hover{
    filter: grayscale(0);
}
.right-col{
    flex-basis: 55%;
}
.left-col img{
    width: 80%;
    cursor:pointer;
    filter: grayscale(0);
    transition: filter 1s;
}
.left-col img:hover{
    filter: grayscale(1);
}
.left-col a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.right-col h1{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.right-col p{
    color: white;
    margin: 20px 0 70px;
}
.social-media p{
    margin-top: 20px 0 70px;
    display: flex;
    position: relative;
}
.social-media{
    display: flex;
    margin-top: 30px;
    margin: 20px 0 70px;
}
.icon{
    width: 100px;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.5s;
}
.icon img{
    width: 50px;
}
.icon a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff1616;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}
.icon a:hover{
    opacity: 1;
}
.icon a:hover{
    transform: translateY(-5%);
}
body{
 min-height: 100vh;
width: 100%;
background: #000;
color:#fff;
position:relative;
}
.search-form{
    display: flex;
    justify-content: right;
    margin-top: 1%;
}
.search-form .form-group{
    display: flex;
    justify-content: center;
    height: 40px;
    
}
.search-form .form-group .form-control{
    outline-style: none;
    border: none;
}
.search-form .form-group .form-control{
    width: 200px;
    padding: 0 10px;
    outline: none;
    background: transparent;
    border: solid red;
    border-right: none;
    font-size: 20px;
    color: #fff;
}
.search-form .form-group .submit{
    background: red;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s;
    border: red;
}
.search-form .form-group .submit:hover{
    color: blue;
}
/*------BLOG--------*/
#Blog{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    flex-direction: column;
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #ff1616;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: grey;   
    font-weight: 700;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
   
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #ff1616;
    font-size: 0.9rem;   
}
.blog-img img:hover{
    position: relative;
    top: -4px;
}
.blog-text .blog-title{
font-size: 1.3rem;
font-weight: 500;
color: #000 ;
}
.blog-text .blog-title:hover{
    color: #ff000f;
    transition: all ease 0.5s;
}
.blog-text p{
    color: #000;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #000;
}
.blog-text a:hover{
    color: #ff000f;
    transition: all ease 0.5s;
}
footer p{
    background-color: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}